body {
  background: white;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.parent {
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

.contact {
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

input {
  /* border: 1px solid green; */

  border-radius: 70%;
  width: 25px;
  height: 30px;
}
