body {
  background: white;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.parent {
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}

.contact {
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
}
