body {
  background: white;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

.parent {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 5px;
}
